.title {
    background: darkblue;
    width: 100%;
    text-align: center;
    font-size: 3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #FFFFFF;
    margin-bottom: 50px;
  }
  